<!DOCTYPE HTML>
<html>
	<head>
		<title>杭州电子科技大学信息工程学院第二课堂成绩单</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/css/elements.css" />
		<script src="/js/vue.js"></script>
		<script src="/js/jquery.min.js"></script>
		<script src="/js/jquery.qrcode.min.js"></script>
	</head>
	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<h1>第二课堂成绩单</h1>
						<br />
					</header>

				<!-- Main -->
					<div id="main">

						<!-- Content -->
							<section id="content" class="main">

								<!-- Text -->
										<h2>个人信息</h2>
											<ul id="info">
												<li v-for="(value, key) in info">
													{{ key }}:{{ value }}
												</li>
											</ul>
										<hr />
										<h2>任职情况</h2>
											<div id="office">
												<table>
														<tr>
															<th>任职名称</th>
															<th>学期</th>
															<th>开始时间</th>
															<th>结束时间</th>
															<th>任职等级</th>
															<th>考核结果</th>
															<th>备注</th>
														</tr>
													<tbody>
														<tr v-for="office in offices">
														<td>{{ office.officeName }}</td>
														<td>{{ office.term }}</td>
														<td>{{ office.startDate }}</td>
														<td>{{ office.endDate }}</td>
														<td>{{ office.officeLv }}</td>
														<td>{{ office.result }}</td>
														<td>{{ office.comment }}</td>
														</tr>
													</tbody>
												</table>
											</div>
										<hr />
										<h2>活动情况</h2>
											<div id="activity">
												<table>
														<tr>
															<th>学期</th>
															<th>活动时间</th>
															<th>活动名称</th>
															<th>备注</th>
														</tr>
													<tbody>
														<tr v-for="activity in activities">
														<td>{{ activity.term }}</td>
														<td>{{ activity.activityDate }}</td>
														<td>{{ activity.activityName }}</td>
														<td>{{ activity.comment }}</td>
														</tr>
													</tbody>
												</table>
											</div>
										<hr />
										<h2>社会实践情况</h2>
											<div id="practice">
												<table>
														<tr>
															<th>学期</th>
															<th>实践时间</th>
															<th>实践名称</th>
															<th>考核结果</th>
															<th>备注</th>
														</tr>
													<tbody>
														<tr v-for="practice in practices">
														<td>{{ practice.term }}</td>
														<td>{{ practice.practiceDate }}</td>
														<td>{{ practice.practiceName }}</td>
														<td>{{ practice.result }}</td>
														<td>{{ practice.comment }}</td>
														</tr>
													</tbody>
												</table>
											</div>
										<hr />
										<h2>志愿服务情况</h2>
											<div id="voluteer">
												<table>
														<tr>
															<th>学期</th>
															<th>志愿时间</th>
															<th>志愿名称</th>
															<th>志愿时长</th>
															<th>备注</th>
														</tr>
													<tbody>
														<tr v-for="voluteer in voluteers">
														<td>{{ voluteer.term }}</td>
														<td>{{ voluteer.volunteerDate }}</td>
														<td>{{ voluteer.volunteerName }}</td>
														<td>{{ voluteer.volunteerTime }}</td>
														<td>{{ voluteer.comment }}</td>
														</tr>
													</tbody>
												</table>
											</div>
										<hr />
										<h2>卫生得分情况</h2>
											<div id="clean">
												<table>
														<tr>
															<th>学期</th>
															<th>检查时间</th>
															<th>分数</th>
														</tr>
													<tbody>
														<tr v-for="clean in cleans">
														<td>{{ clean.term }}</td>
														<td>{{ clean.checkDate }}</td>
														<td>{{ clean.score }}</td>
														</tr>
													</tbody>
												</table>
											</div>
										<hr />
										<h2>获奖情况</h2>
											<div id="honor">
												<table>
														<tr>
															<th>学期</th>
															<th>荣誉名称</th>
															<th>荣誉等级</th>
															<th>荣誉加分</th>
														</tr>
													<tbody>
														<tr v-for="honor in honors">
														<td>{{ honor.term }}</td>
														<td>{{ honor.honorName }}</td>
														<td>{{ honor.honorLv }}</td>
														<td>{{ honor.honorScore }}</td>
														</tr>
													</tbody>
												</table>
											</div>
										<hr />
										<h2>技能加分</h2>
											<div id="skill">
												<table>
														<tr>
															<th>学期</th>
															<th>技能名称</th>
															<th>技能等级</th>
															<th>技能加分</th>
														</tr>
													<tbody>
														<tr v-for="skill in skills">
														<td>{{ skill.term }}</td>
														<td>{{ skill.skillName }}</td>
														<td>{{ skill.skillLv }}</td>
														<td>{{ skill.skillScore }}</td>
														</tr>
													</tbody>
												</table>
											</div>
										<hr />
									</section>
					</div>

				<!-- Footer -->
				<br/>
				<div id="qr">
					<div id="code"></div>
					<img id="qrcode" width="150" height="150" />
				</div>
					<footer id="footer">
						<ul class="copyright">
							<li>&copy;</li><li>Design: <a href="http://betahouse.us">betahouse</a></li>
						</ul>
					</footer>


			</div>
		<script type="text/javascript">
      //<![CDATA[
			var content = 'https://betahouse.us/';
 			var qrcode= $('#code').qrcode(content).hide();   
 			var canvas=qrcode.find('canvas').get(0);  
 			$('#qrcode').attr('src',canvas.toDataURL('image/jpg'))  
            var data={
                "SchoolId":15905631
            };
            $.ajax({
                type: "POST",
                url: "/getInfo",
                data: data,
                dataType:"json",
                success: function(data){
                    if(data.status==0){
//                        alert(data.message);
						var info = data.data;
                        var infoobj = {
                            姓名: info.realName,
                            学号: info.schoolId,
                            性别: info.gender,
                            专业: info.major.majorName,
                            入学时间: info.entranceTime,
                            政治面貌: info.political
                        }
                        var officeobj = info.userOffices;
                        var activityobj = info.userActivities;
                        var practiceobj = info.userPractices;
                        var voluteerobj = info.userVolunteers;
                        var cleanobj = info.userCleans;
                        var honorobj = info.userHonors;
                        var skillobj = info.userSkills;
                        console.log(officeobj);
                        console.log(activityobj);
                        console.log(voluteerobj);
                        var info = new Vue({
                            el: '#info',
                            data: {
                                info: infoobj
                            }
                        })
                        var officeobj = new Vue({
                            el: '#office',
                            data: {
                                offices: officeobj
                            }
                        })
                        var activity = new Vue({
                            el: '#activity',
                            data: {
                                activities: activityobj
                            }
                        })
                        var practice = new Vue({
                            el: '#practice',
                            data: {
                                practices: practiceobj
                            }
                        })
                        var voluteer = new Vue({
                            el: '#voluteer',
                            data: {
                                voluteers: voluteerobj
                            }
                        })
                        var clean = new Vue({
                            el: '#clean',
                            data: {
                                cleans: cleanobj
                            }
                        })
                        var honor = new Vue({
                            el: '#honor',
                            data: {
                                honors: honorobj
                            }
                        })
                        var skill = new Vue({
                            el: '#skill',
                            data: {
                                skills: skillobj
                            }
                        })
                    }
                    else {
                        alert('wrong');
                    }
                },
                error: function(data){
                    alert('Error');
                }
            });
            //]]>
		</script>
	</body>
</html>