<!DOCTYPE HTML>
<html>
	<head>
		<title>杭州电子科技大学信息工程学院第二课堂成绩单</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="../static/css/elements.css" />
		<script src="../static/js/vue.js"></script>
		<script src="../static/js/jquery.min.js"></script>
		<script src="../static/js/jquery.qrcode.min.js"></script>
	</head>
	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<h1>第二课堂成绩单</h1>
						<br />
					</header>

				<!-- Main -->
					<div id="main">

						<!-- Content -->
							<section id="content" class="main">

								<!-- Text -->
										<h2>个人信息</h2>
											<ul id="info">
												<li v-for="(value, key) in infoobject">
													{{ key }}:{{ value }}
												</li>
											</ul>
										<hr />
										<h2>任职情况</h2>
											<div id="office">
												<table>
														<tr>
															<th>学期</th>
															<th>开始时间</th>
															<th>任职名称</th>
															<th>任职等级</th>
															<th>考核结果</th>
															<th>备注</th>
														</tr>
													<tbody>
														<tr v-for="officepart in officeobject">
														<td>{{ officepart.semester }}</td>
														<td>{{ officepart.start }}</td>
														<td>{{ officepart.name }}</td>
														<td>{{ officepart.lv }}</td>
														<td>{{ officepart.result }}</td>
														<td>{{ officepart.comments }}</td>
														</tr>
													</tbody>
												</table>
											</div>
										<hr />
										<h2>活动情况</h2>
											<div id="activity">
												<table>
														<tr>
															<th>学期</th>
															<th>活动时间</th>
															<th>活动名称</th>
															<th>备注</th>
														</tr>
													<tbody>
														<tr v-for="activitypart in activityobject">
														<td>{{ activitypart.semester }}</td>
														<td>{{ activitypart.start }}</td>
														<td>{{ activitypart.name }}</td>
														<td>{{ activitypart.comments }}</td>
														</tr>
													</tbody>
												</table>
											</div>
										<hr />
										<h2>社会实践情况</h2>
											<div id="practice">
												<table>
														<tr>
															<th>学期</th>
															<th>实践时间</th>
															<th>实践名称</th>
															<th>考核结果</th>
															<th>备注</th>
														</tr>
													<tbody>
														<tr v-for="item in object">
														<td>{{ item.semester }}</td>
														<td>{{ item.start }}</td>
														<td>{{ item.name }}</td>
														<td>{{ item.result }}</td>
														<td>{{ item.comments }}</td>
														</tr>
													</tbody>
												</table>
											</div>
										<hr />
										<h2>志愿服务情况</h2>
											<div id="voluteer">
												<table>
														<tr>
															<th>学期</th>
															<th>志愿时间</th>
															<th>志愿名称</th>
															<th>志愿时长</th>
															<th>备注</th>
														</tr>
													<tbody>
														<tr v-for="voluteerpart in voluteerobject">
														<td>{{ voluteerpart.semester }}</td>
														<td>{{ voluteerpart.start }}</td>
														<td>{{ voluteerpart.name }}</td>
														<td>{{ voluteerpart.duration }}</td>
														<td>{{ voluteerpart.comments }}</td>
														</tr>
													</tbody>
												</table>
											</div>
										<hr />
										<h2>卫生得分情况</h2>
											<div id="clean">
												<table>
														<tr>
															<th>学期</th>
															<th>检查时间</th>
															<th>分数</th>
														</tr>
													<tbody>
														<tr v-for="cleanpart in cleanobject">
														<td>{{ cleanpart.semester }}</td>
														<td>{{ cleanpart.start }}</td>
														<td>{{ cleanpart.marks }}</td>
														</tr>
													</tbody>
												</table>
											</div>
										<hr />
										<h2>获奖情况</h2>
											<div id="honor">
												<table>
														<tr>
															<th>学期</th>
															<th>荣誉名称</th>
															<th>荣誉等级</th>
															<th>荣誉加分</th>
														</tr>
													<tbody>
														<tr v-for="honorpart in honorobject">
														<td>{{ honorpart.semester }}</td>
														<td>{{ honorpart.name }}</td>
														<td>{{ honorpart.lv }}</td>
														<td>{{ honorpart.marks }}</td>
														</tr>
													</tbody>
												</table>
											</div>
										<hr />
										<h2>技能加分</h2>
											<div id="skill">
												<table>
														<tr>
															<th>学期</th>
															<th>技能名称</th>
															<th>技能等级</th>
															<th>技能加分</th>
														</tr>
													<tbody>
														<tr v-for="skillpart in skillobject">
														<td>{{ skillpart.semester }}</td>
														<td>{{ skillpart.name }}</td>
														<td>{{ skillpart.lv }}</td>
														<td>{{ skillpart.marks }}</td>
														</tr>
													</tbody>
												</table>
											</div>
										<hr />
									</section>
					</div>

				<!-- Footer -->
				<br/>
				<div id="qr">
					<div id="code"></div>
					<img id="qrcode" width="150" width="60" />
				</div>
					<footer id="footer">
						<ul class="copyright">
							<li>&copy;</li><li>Design: <a href="http://betahouse.us">betahouse</a></li>
						</ul>
					</footer>


			</div>
		<script>
			var infoobj = {
				姓名: 'xxx',
				学号: '16905515',
				性别: '男',
				专业: '计算机科学与技术',
				入学时间: '2016-10-8',
				政治面貌: '共青团员'
			}
			var officeobj = [{
				semester: '2017-1',
				start: '11-19',
				name: '即刻社社长',
				lv: '1',
				result: '优秀',
				comments: '这是备注'

			}]
			var activityobj = [{
				semester: '2017-1',
				start: '11-19',
				name: 'betahouse分享会',
				comments: '这是备注'

			}]
			var practiceobj = [{
				semester: '2017-1',
				start: '2017-11-19',
				name: '中国开源年会',
				result: '优秀',
				comments: '这是备注'
			}]
			var voluteerobj = [{
				semester: '2017-1',
				start: '2017-11-19',
				name: '谷歌开发者日',
				duration: '2天',
				comments: '这是备注'
			}]
			var cleanobj = [{
				semester: '2017-1',
				start: '11-19',
				marks: '99'
			}]
			var honorobj = [{
				semester: '2017-1',
				name: '服务外包一等奖',
				lv: '1',
				marks: '6'
			}]
			var skillobj = [{
				semester: '2017-1',
				name: '创新杯一等奖',
				lv: '1',
				marks: '6'
			}]
			var info = new Vue({
				el: '#info',
				data: {
					infoobject: infoobj
				}
			})
			var officeobj = new Vue({
				el: '#office',
				data: {
					officeobject: officeobj
				}
			})
			var activity = new Vue({
				el: '#activity',
				data: {
					activityobject: activityobj
				}
			})
			var practice = new Vue({
				el: '#practice',
				data: {
					object: practiceobj
				}
			})
			var voluteer = new Vue({
				el: '#voluteer',
				data: {
					voluteerobject: voluteerobj
				}
			})
			var clean = new Vue({
				el: '#clean',
				data: {
					cleanobject: cleanobj
				}
			})
			var honor = new Vue({
				el: '#honor',
				data: {
					honorobject: honorobj
				}
			})
			var skill = new Vue({
				el: '#skill',
				data: {
					skillobject: skillobj
				}
			})


		</script>
		<script type="text/javascript">
			var content = 'https://betahouse.us/';
 			var qrcode= $('#code').qrcode(content).hide();   
 			var canvas=qrcode.find('canvas').get(0);  
 			$('#qrcode').attr('src',canvas.toDataURL('image/jpg'))  
		</script>
	</body>
</html>