<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="betahouse.model.mapper.Power2Mapper">
  <resultMap id="BaseResultMap" type="betahouse.model.po.Power2">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="admin_id" jdbcType="INTEGER" property="adminId" />
    <result column="major_id" jdbcType="INTEGER" property="majorId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from power_2
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="betahouse.model.po.Power2">
    insert into power_2 (id, admin_id, major_id
      )
    values (#{id,jdbcType=INTEGER}, #{adminId,jdbcType=INTEGER}, #{majorId,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="betahouse.model.po.Power2">
    update power_2
    set admin_id = #{adminId,jdbcType=INTEGER},
      major_id = #{majorId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, admin_id, major_id
    from power_2
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectByAdminId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, admin_id, major_id
    from power_2
    where admin_id = #{admin_id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, admin_id, major_id
    from power_2
  </select>
</mapper>