<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="betahouse.model.mapper.UserSkillMapper">
  <resultMap id="BaseResultMap" type="betahouse.model.po.UserSkill">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="skill_lv" jdbcType="INTEGER" property="skillLv" />
    <result column="skill_name" jdbcType="VARCHAR" property="skillName" />
    <result column="skill_score" jdbcType="DOUBLE" property="skillScore" />
    <result column="term" jdbcType="INTEGER" property="term" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user_skill
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="betahouse.model.po.UserSkill">
    insert into user_skill (id, user_id, skill_lv, 
      skill_name, skill_score, term
      )
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{skillLv,jdbcType=INTEGER}, 
      #{skillName,jdbcType=VARCHAR}, #{skillScore,jdbcType=DOUBLE}, #{term,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="betahouse.model.po.UserSkill">
    update user_skill
    set user_id = #{userId,jdbcType=INTEGER},
      skill_lv = #{skillLv,jdbcType=INTEGER},
      skill_name = #{skillName,jdbcType=VARCHAR},
      skill_score = #{skillScore,jdbcType=DOUBLE},
      term = #{term,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, user_id, skill_lv, skill_name, skill_score, term
    from user_skill
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectByUserId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, user_id, skill_lv, skill_name, skill_score, term
    from user_skill
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  <!--<select id="selectByUserIdAndTerm" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, user_id, skill_lv, skill_name, skill_score, term
    from user_skill
    where user_id = #{arg0,jdbcType=INTEGER}
    and term = #{arg1,jdbcType=INTEGER}
  </select>-->
  <select id="selectAll" resultMap="BaseResultMap">
    select id, user_id, skill_lv, skill_name, skill_score, term
    from user_skill
  </select>

  <select id="selectByUserIdAndTerm" resultMap="BaseResultMap">
    select id, user_id, skill_lv, skill_name, skill_score, term
    from user_skill
    where user_id = #{arg0,jdbcType=INTEGER}
    and term = #{arg1}
  </select>
</mapper>